pipeline/pipeline_Copy_Data_AzureDataLake.json
{
	"name": "pipeline_Copy_Data_AzureDataLake",
	"properties": {
		"activities": [
			{
				"name": "Copy data into Azure DataLake Gen2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText_Blob_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText_AzureDataLake_Sink",
						"type": "DatasetReference",
						"parameters": {
							"sinkFolderPath": "stage_data_ADLGen2"
						}
					}
				]
			},
			{
				"name": "Get Metadata Azure DataLake Gen2",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data into Azure DataLake Gen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText_AzureDataLake_Sink",
						"type": "DatasetReference",
						"parameters": {
							"sinkFolderPath": "stage_data_ADLGen2"
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition AzureDataLake",
				"description": "This is a  conditional data flow based on different conditions.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Azure DataLake Gen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata Azure DataLake Gen2').output.itemType, 'Folder')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait_FalseActivity",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "wait_TrueActivity",
							"description": "This is a wait activity to check true response ",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"activityMetadata": {
				"type": "String",
				"defaultValue": "\"\""
			}
		},
		"annotations": []
	}
}