pipeline/pipeline_LogAnalytics.json
{
	"name": "pipeline_LogAnalytics",
	"properties": {
		"activities": [
			{
				"name": "Azure Function to Get AzureActivity Log",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data Log Analytics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@pipeline().parameters.FunctionName",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"tenentId\" : \"@{pipeline().parameters.TenentId}\",\n    \"contentType\" : \"@{pipeline().parameters.ContentType}\",\n    \"grantType\" : \"@{pipeline().parameters.GrantType}\",\n    \"clientId\" : \"@{pipeline().parameters.ClientId}\",\n    \"clientSecret\" : \"@{pipeline().parameters.ClientSecret}\",\n    \"resource\" : \"@{pipeline().parameters.Resource}\",\n    \"endPointUrl\" : \"@{pipeline().parameters.EndPointUrl}\",\n    \"workSpaceId\" : \"@{pipeline().parameters.WorkSpaceId}\",\n    \"logAnalyticsUrl\" : \"@{pipeline().parameters.LogAnalyticsUrl}\",\n    \"logQuery\" : \"@{pipeline().parameters.LogQuery}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction_LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Query Data If Condition",
				"description": "This activity check the response data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Azure Function to Get AzureActivity Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Azure Function to Get AzureActivity Log').output.value.statusCode, 200), equals(activity('Azure Function to Get AzureActivity Log').output.value.message, 'Query data has been extracted successfully.'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Azure Function to Log Errors",
							"description": "This azure function helps to log the activity ",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "logging-data-retrival-process",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n   \"containerName\" : \"@{pipeline().parameters.LogContainerName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\",\n    \"message\" : \"@{activity('Azure Function to Get AzureActivity Log').output.value.message}\",\n    \"statusCode\" : \"@{activity('Azure Function to Get AzureActivity Log').output.value.statusCode}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\" : \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction_Log_FileProcessing",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Convert Json to Csv and store into ADL",
							"description": "This azure function activity is used to store data into csv format from and store into ADL gen2",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "convert-json-to-csv",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n    \"jsonRequestData\" : @{activity('Azure Function to Get AzureActivity Log').output.value.data},\n    \"logType\" : \"AzureActivity\",\n    \"containerName\" : \"@{pipeline().parameters.ContainerName}\",\n    \"folderName\" : \"@{pipeline().parameters.FolderName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction_CovertJsonToCsv_LinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Azure Function to Log activity",
							"description": "This azure function helps to log the activity ",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Convert Json to Csv and store into ADL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "logging-data-retrival-process",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n   \"containerName\" : \"@{pipeline().parameters.LogContainerName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\",\n    \"message\" : \"@{activity('Convert Json to Csv and store into ADL').output.message}\",\n    \"statusCode\" : \"@{activity('Convert Json to Csv and store into ADL').output.statusCode}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\" : \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction_Log_FileProcessing",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Copy data Log Analytics",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OAuthCodeAPI",
						"type": "DatasetReference",
						"parameters": {
							"tenentId": "dd4149a3-da2c-4ee2-bb69-b00528959f08",
							"client_id": "94d71110-76b3-4078-ad22-3ef3f7b654d1",
							"redirect_uri": "https://azureloganalyticsfunction.azurewebsites.net/",
							"scope": "openid"
						}
					}
				]
			}
		],
		"parameters": {
			"FunctionName": {
				"type": "string",
				"defaultValue": "accees-to-logAnalytics"
			},
			"TenentId": {
				"type": "string",
				"defaultValue": "dd4149a3-da2c-4ee2-bb69-b00528959f08"
			},
			"ContentType": {
				"type": "string",
				"defaultValue": "application/x-www-form-urlencoded"
			},
			"GrantType": {
				"type": "string",
				"defaultValue": "client_credentials"
			},
			"ClientId": {
				"type": "string",
				"defaultValue": "94d71110-76b3-4078-ad22-3ef3f7b654d1"
			},
			"ClientSecret": {
				"type": "string",
				"defaultValue": "ZU0~3AHZtSUMuvdEt2Um._0Xwxa_rB16_d"
			},
			"Resource": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io"
			},
			"EndPointUrl": {
				"type": "string",
				"defaultValue": "https://login.microsoftonline.com/"
			},
			"WorkSpaceId": {
				"type": "string",
				"defaultValue": "2f5d639a-25b6-44ac-8ee8-ec9f68fa95b5"
			},
			"LogAnalyticsUrl": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io/v1/workspaces/"
			},
			"LogQuery": {
				"type": "string",
				"defaultValue": "AzureActivity | where TimeGenerated >= ago(2h) | order by TimeGenerated asc ;"
			},
			"PreProcessFunctionName": {
				"type": "string",
				"defaultValue": "convert-json-to-csv"
			},
			"ContainerName": {
				"type": "string",
				"defaultValue": "azureactivity"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "generallog"
			},
			"AccountName": {
				"type": "string",
				"defaultValue": "123datalakegen2"
			},
			"AccountKey": {
				"type": "string",
				"defaultValue": "+hmWpzgVZ7H/IJVu0Uc74O/tKgx8OSf1Cx/VU3yrzNWxGMKlYq7u92/J9pXUeh+xzskBw07FXB+A2Sx0tSFD6g=="
			},
			"LogContainerName": {
				"type": "string",
				"defaultValue": "logs"
			}
		},
		"annotations": []
	}
}