pipeline/pipeline_LogAnalytics.json
{
	"name": "pipeline_LogAnalytics",
	"properties": {
		"activities": [
			{
				"name": "Azure Function to Get AzureActivity Log",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "AccessCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@pipeline().parameters.FunctionName",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@concat('Bearer ',activity('AccessCode').output.access_token)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n    \"tenentId\" : \"@{pipeline().parameters.TenentId}\",\n    \"contentType\" : \"@{pipeline().parameters.ContentType}\",\n    \"grantType\" : \"@{pipeline().parameters.GrantType}\",\n    \"clientId\" : \"@{pipeline().parameters.ClientId}\",\n    \"clientSecret\" : \"@{pipeline().parameters.ClientSecret}\",\n    \"resource\" : \"@{pipeline().parameters.Resource}\",\n    \"endPointUrl\" : \"@{pipeline().parameters.EndPointUrl}\",\n    \"workSpaceId\" : \"@{pipeline().parameters.WorkSpaceId}\",\n    \"logAnalyticsUrl\" : \"@{pipeline().parameters.LogAnalyticsUrl}\",\n    \"logQuery\" : \"@{pipeline().parameters.LogQuery}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction_LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Query Data If Condition",
				"description": "This activity check the response data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Azure Function to Get AzureActivity Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Azure Function to Get AzureActivity Log').output.StatusCode, 200), equals(activity('Azure Function to Get AzureActivity Log').output.Message, 'Query data has been extracted successfully.'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Azure Function to Log Errors",
							"description": "This azure function helps to log the activity ",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "logging-data-retrival-process",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n   \"containerName\" : \"@{pipeline().parameters.LogContainerName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\",\n    \"message\" : \"@{activity('Azure Function to Get AzureActivity Log').output.Message}\",\n    \"statusCode\" : \"@{activity('Azure Function to Get AzureActivity Log').output.StatusCode}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\" : \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction_Log_FileProcessing",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Convert Json to Csv and store into ADL",
							"description": "This azure function activity is used to store data into csv format from and store into ADL gen2",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "convert-json-to-csv",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n    \"jsonRequestData\" : @{activity('Azure Function to Get AzureActivity Log').output.Data},\n    \"logType\" : \"AzureActivity\",\n    \"containerName\" : \"@{pipeline().parameters.ContainerName}\",\n    \"folderName\" : \"@{pipeline().parameters.FolderName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction_CovertJsonToCsv_LinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Azure Function to Log activity",
							"description": "This azure function helps to log the activity ",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Convert Json to Csv and store into ADL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "logging-data-retrival-process",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n   \"containerName\" : \"@{pipeline().parameters.LogContainerName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\",\n    \"message\" : \"@{activity('Convert Json to Csv and store into ADL').output.Message}\",\n    \"statusCode\" : \"@{activity('Convert Json to Csv and store into ADL').output.StatusCode}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\" : \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunction_Log_FileProcessing",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "AccessCode",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/dd4149a3-da2c-4ee2-bb69-b00528959f08/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=','client_credentials','&client_id=','94d71110-76b3-4078-ad22-3ef3f7b654d1','&client_secret=','ZU0~3AHZtSUMuvdEt2Um._0Xwxa_rB16_d','&resource=https://management.azure.com/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy LogAnalytics Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Query Data If Condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@convertToUtc(pipeline().TriggerTime, 'India Standard Time', 'yyyy-MM-ddTHH:mm:ss:fffffffK')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@addhours(convertToUtc(pipeline().TriggerTime, 'India Standard Time', 'yyyy-MM-ddTHH:mm:ss:fffffffK'), 2)",
								"type": "Expression"
							},
							"wildcardFileName": "*"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText_LogAnalytics_Source",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "azureactivity",
							"FolderName": "generallog"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText_LogAnalytics_Sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"FunctionName": {
				"type": "string",
				"defaultValue": "accees-to-logAnalytics"
			},
			"TenentId": {
				"type": "string",
				"defaultValue": "dd4149a3-da2c-4ee2-bb69-b00528959f08"
			},
			"ContentType": {
				"type": "string",
				"defaultValue": "application/x-www-form-urlencoded"
			},
			"GrantType": {
				"type": "string",
				"defaultValue": "client_credentials"
			},
			"ClientId": {
				"type": "string",
				"defaultValue": "94d71110-76b3-4078-ad22-3ef3f7b654d1"
			},
			"ClientSecret": {
				"type": "string",
				"defaultValue": "ZU0~3AHZtSUMuvdEt2Um._0Xwxa_rB16_d"
			},
			"Resource": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io"
			},
			"EndPointUrl": {
				"type": "string",
				"defaultValue": "https://login.microsoftonline.com/"
			},
			"WorkSpaceId": {
				"type": "string",
				"defaultValue": "2f5d639a-25b6-44ac-8ee8-ec9f68fa95b5"
			},
			"LogAnalyticsUrl": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io/v1/workspaces/"
			},
			"LogQuery": {
				"type": "string",
				"defaultValue": "AzureDiagnostics | where ResourceProvider=='MICROSOFT.DOCUMENTDB' and Category=='DataPlaneRequests' and TimeGenerated >= ago(2h) | summarize count() by TimeGenerated"
			},
			"PreProcessFunctionName": {
				"type": "string",
				"defaultValue": "convert-json-to-csv"
			},
			"ContainerName": {
				"type": "string",
				"defaultValue": "azureactivity"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "generallog"
			},
			"AccountName": {
				"type": "string",
				"defaultValue": "123datalakegen2"
			},
			"AccountKey": {
				"type": "string",
				"defaultValue": "+hmWpzgVZ7H/IJVu0Uc74O/tKgx8OSf1Cx/VU3yrzNWxGMKlYq7u92/J9pXUeh+xzskBw07FXB+A2Sx0tSFD6g=="
			},
			"LogContainerName": {
				"type": "string",
				"defaultValue": "logs"
			}
		},
		"annotations": []
	}
}