pipeline/pipeline_LogAnalytics.json
{
	"name": "pipeline_LogAnalytics",
	"properties": {
		"activities": [
			{
				"name": "Azure Function to Get AzureActivity Log",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@pipeline().parameters.FunctionName",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"tenentId\" : \"@{pipeline().parameters.TenentId}\",\n    \"contentType\" : \"@{pipeline().parameters.ContentType}\",\n    \"grantType\" : \"@{pipeline().parameters.GrantType}\",\n    \"clientId\" : \"@{pipeline().parameters.ClientId}\",\n    \"clientSecret\" : \"@{pipeline().parameters.ClientSecret}\",\n    \"resource\" : \"@{pipeline().parameters.Resource}\",\n    \"endPointUrl\" : \"@{pipeline().parameters.EndPointUrl}\",\n    \"workSpaceId\" : \"@{pipeline().parameters.WorkSpaceId}\",\n    \"logAnalyticsUrl\" : \"@{pipeline().parameters.LogAnalyticsUrl}\",\n    \"logQuery\" : \"@{pipeline().parameters.LogQuery}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction_LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Azure Function to store LogData in ADL",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Azure Function to Get AzureActivity Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@pipeline().parameters.PreProcessFunctionName",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"jsonRequestData\" : @{activity('Azure Function to Get AzureActivity Log').output.value.data},\n    \"logType\" : \"AzureActivity\",\n    \"containerName\" : \"@{pipeline().parameters.ContainerName}\",\n    \"folderName\" : \"@{pipeline().parameters.FolderName}\",\n    \"accountName\" : \"@{pipeline().parameters.AccountName}\",\n    \"accountKey\" : \"@{pipeline().parameters.AccountKey}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction_CovertJsonToCsv_LinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FunctionName": {
				"type": "string",
				"defaultValue": "accees-to-logAnalytics"
			},
			"TenentId": {
				"type": "string",
				"defaultValue": "dd4149a3-da2c-4ee2-bb69-b00528959f08"
			},
			"ContentType": {
				"type": "string",
				"defaultValue": "application/x-www-form-urlencoded"
			},
			"GrantType": {
				"type": "string",
				"defaultValue": "client_credentials"
			},
			"ClientId": {
				"type": "string",
				"defaultValue": "94d71110-76b3-4078-ad22-3ef3f7b654d1"
			},
			"ClientSecret": {
				"type": "string",
				"defaultValue": "ZU0~3AHZtSUMuvdEt2Um._0Xwxa_rB16_d"
			},
			"Resource": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io"
			},
			"EndPointUrl": {
				"type": "string",
				"defaultValue": "https://login.microsoftonline.com/"
			},
			"WorkSpaceId": {
				"type": "string",
				"defaultValue": "2f5d639a-25b6-44ac-8ee8-ec9f68fa95b5"
			},
			"LogAnalyticsUrl": {
				"type": "string",
				"defaultValue": "https://api.loganalytics.io/v1/workspaces/"
			},
			"LogQuery": {
				"type": "string",
				"defaultValue": "AzureActivity | where TimeGenerated >= ago(2h) | order by TimeGenerated asc ;"
			},
			"PreProcessFunctionName": {
				"type": "string",
				"defaultValue": "convert-json-to-csv"
			},
			"ContainerName": {
				"type": "string",
				"defaultValue": "azureactivity"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "generallog"
			},
			"AccountName": {
				"type": "string",
				"defaultValue": "123datalakegen2"
			},
			"AccountKey": {
				"type": "string",
				"defaultValue": "+hmWpzgVZ7H/IJVu0Uc74O/tKgx8OSf1Cx/VU3yrzNWxGMKlYq7u92/J9pXUeh+xzskBw07FXB+A2Sx0tSFD6g=="
			}
		},
		"annotations": []
	}
}